.hero {
  padding-block: 223px 185px;
  margin-bottom: 82px;
  background:
          linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(104,183,56,1) 60%, rgba(104,183,56,1) 100%),
          url("../../images/cat (1).png") no-repeat right top;
  z-index: -3;
  background-blend-mode: multiply;
  overflow-x: hidden;

  @include tablet {
    background: var(--color-light);
    padding-block: 140px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
      padding-bottom: 526px;
    }
  }

  &__info {
    @include mobile-above {
      padding-left: 87px;
    }

    z-index: 10;
  }

  &__title {
    text-wrap: nowrap;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__description {
    @include fluid-text(20, 14);

    font-family: var(--font-family-alt);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__button {
    text-wrap: nowrap;
  }

  &__image {
    position: absolute;
    left: 35%;
    z-index: 2;

    @include tablet {
      width: 100%;
      height: auto;
      left: 50%;
      bottom: 0;
      translate: -50% 0;
    }
  }
}