.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;

  @include mobile {
    --container-padding-x: 20px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.mobile-hidden {
  @include mobile {
    display: none;
  }
}

.tablet-hidden {
  @include tablet {
    display: none;
  }
}

.mobile-visible {
  @include mobile-above {
    display: none;
  }
}

