:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #f2f2f2;
  --colro-grat-alt: #eaeaea;
  --color-accent: #68B738;

  --button-height: 54px;

  --container-width: 1220px;
  --container-padding-x: 20px;

  --font-family-base: "Arial", sans-serif;
  --font-family-title: "Oswald", sans-sefif;

  --transition-duration: 0.5s;
}