@charset "UTF-8";
/* NORMALIZE ====================================================================================================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева тегам списков, у которых есть атрибут class */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/* Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/* Убираем внешние отступы вертикали нужным тегам, у которых есть атрибут class */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Убираем стандартный маркер маркированному списку, у которого есть атрибут class */
:where(ul[class]) {
  list-style: none;
}

/* Обнуляем вертикальные внешние отступы параграфа, объявляем локальную переменную для внешнего отступа вниз, чтобы избежать взаимодействие с более сложным селектором */
p {
  --paragraphMarginBottom: 20px;
  margin-block: 0;
}

/* Внешний отступ вниз для параграфа без атрибута class, который расположен не последним среди своих соседних элементов */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
  height: 100%;
  /* Плавный скролл */
  scroll-behavior: smooth;
}

body {
  /* Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта) */
  min-height: 100%;
  /* Унифицированный интерлиньяж */
  line-height: 1.5;
}

/* Чиним баг задержки смены цвета при взаимодействии с svg-элементами*/
svg * {
  transition-property: fill, stroke;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #f2f2f2;
  --colro-grat-alt: #eaeaea;
  --color-accent: #68B738;
  --button-height: 54px;
  --container-width: 1220px;
  --container-padding-x: 30px;
  --font-family-base: "Arial", sans-serif;
  --font-family-alt: "Oswald", sans-sefif;
  --transition-duration: 0.5s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
@media (max-width: 320px) {
  .container {
    --container-padding-x: 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 320px) {
  .mobile-hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .tablet-hidden {
    display: none;
  }
}

@media (min-width: 321px) {
  .mobile-visible {
    display: none;
  }
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}
@media (max-width: 320px) {
  body {
    line-height: 1.29;
  }
}

a,
input,
textarea,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: var(--font-family-alt);
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 36px;
}

@media (max-width: 320px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}
.button {
  height: var(--button-height);
  background-color: var(--color-accent);
  padding-inline: 26px;
  color: var(--color-light);
  text-transform: uppercase;
  font-family: var(--font-family-alt);
  font-size: 20px;
  border: 1px solid var(--color-accent);
}
@media (max-width: 320px) {
  .button {
    --button-height: 40px;
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-accent);
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-accent);
  }
}

.header {
  position: absolute;
  padding-block: 53px;
  width: 100%;
}
@media (max-width: 767px) {
  .header {
    padding-block: 24px;
  }
}
@media (max-width: 320px) {
  .header {
    padding-block: 12px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 174px;
    height: 52px;
  }
}
@media (max-width: 320px) {
  .header__logo {
    width: 33px;
    height: 38px;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 35px;
}
.header__menu-link {
  font-family: var(--font-family-alt);
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-light);
}
.header__menu-link.is-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--color-light);
  width: 100%;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--color-light);
  width: 0;
  transition-duration: var(--transition-duration);
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}

.hero {
  padding-block: 223px 185px;
  margin-bottom: 82px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 30%, rgb(104, 183, 56) 60%, rgb(104, 183, 56) 100%), url("../../images/cat (1).png") no-repeat right top;
  z-index: -3;
  background-blend-mode: multiply;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .hero {
    background: var(--color-light);
    padding-block: 140px 0;
  }
}
.hero__inner {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .hero__inner {
    padding-bottom: 526px;
  }
}
.hero__info {
  z-index: 10;
}
@media (min-width: 321px) {
  .hero__info {
    padding-left: 87px;
  }
}
.hero__title {
  text-wrap: nowrap;
}
.hero__title:not(:last-child) {
  margin-bottom: 40px;
}
.hero__description {
  font-size: clamp(14px, 1.3888888889vw, 20px);
  font-family: var(--font-family-alt);
  text-transform: uppercase;
}
.hero__description:not(:last-child) {
  margin-bottom: 50px;
}
.hero__button {
  text-wrap: nowrap;
}
.hero__image {
  position: absolute;
  left: 35%;
  z-index: 2;
}
@media (max-width: 767px) {
  .hero__image {
    width: 100%;
    height: auto;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
  }
}

/*# sourceMappingURL=styles.css.map */
